@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #fbf7f0;
  position: relative;
  display: flex;
  flex-direction: column;
}
header {
  background-color: #fbf7f0;
}